@import "tailwindcss";

:root {
  --background: #FFF5F5; /* Soft Pinkish Tint — very smooth */
  --foreground: #330000; /* Deep Maroon Charcoal — premium text */
  --primary: #FF69B4;    /* Hot Pink — Salon Vibe */
  --secondary: #FF4D4D;  /* Light Red — Energy */
  --accent: #800000;     /* Light Maroon — Elegant depth */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-outfit);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shine {
  animation: shine 2s infinite;
}
